<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>findjobs.az </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/assets/css/flaticon.css">
            <link rel="stylesheet" href="../static/assets/css/price_rangs.css">
            <link rel="stylesheet" href="../static/assets/css/slicknav.css">
            <link rel="stylesheet" href="../static/assets/css/animate.min.css">
            <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../static/assets/css/slick.css">
            <link rel="stylesheet" href="../static/assets/css/nice-select.css">
            <link rel="stylesheet" href="../static/assets/css/style.css">
            <!-- TO ADD -->
            <link rel="stylesheet" href="../static/css/login-register.css" />
            <script src="../static/js/login-register.js" type="text/javascript"></script>

   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="hero__caption">
                                <h1>findjobs.az</h1>
                            </div>
                        </div>
                        <div  class="col-lg-9 col-md-9">
                            <div>
                            </div>
                            <div style="padding-left: 12%" class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="/index">home</a></li>
                                            <li><a href="/jobs">browse jobs</a></li>
                                            <li><a href="/postjob">post jobs</a></li>
                                            <li><a href="/about">about</a></li>
                                            {% if current_user.is_authenticated %} {% else %}
                                            <li>
                                              <a
                                              data-toggle="modal"
                                              href="javascript:void(0)"
                                              onclick="openRegisterModal();"
                                              id="Reg"
                                              ><span class="rounded bg-primary py-2 px-3 text-white"
                                              >Company Register</span
                                              ></a
                                              >
                                            </li>
                                            {% endif %} {% if current_user.is_authenticated %}
                                            <a href="/logout" id="Log">
                                              <span class="rounded bg-dark py-2 px-3 text-white"
                                              >Logout</span
                                              >
                                            </a>
                                            {% else %}
                                            <a
                                            data-toggle="modal"
                                            href="javascript:void(0)"
                                            onclick="openLoginModal();"
                                            id="Log"
                                            >
                                            <span class="rounded bg-dark py-2 px-3 text-white"
                                            >Company Login</span
                                            >
                                            {% endif %}</a
                                            >
                                          </ul>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                        <div class="col-6 col-xl-2 text-right d-block">
              <div
                class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
                style="position: relative; top: 3px;"
              >
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"
                  ><span class="icon-menu h3"></span
                ></a>
              </div>
            </div>
          </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="box">
                <div class="content">
                  <div class="error"></div>
                  <div class="form loginBox">
                    {% if current_user.is_authenticated %} {% else %}
                    <form
                      method="POST"
                      html="{:multipart=>true}"
                      data-remote="true"
                      action="/login"
                      accept-charset="UTF-8"
                      id="loginForm"
                    >
                      {% endif %}
                      <input
                        id="emailLog"
                        class="form-control"
                        type="text"
                        placeholder="Email"
                        name="email"
                      />
                      <input
                        id="passwordLog"
                        class="form-control"
                        type="password"
                        placeholder="Password"
                        name="password"
                      />
                      <input
                        class="btn btn-default btn-login"
                        value="Login"
                        onclick="loginAjax()"
                      />
                    </form>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="content registerBox" style="display: none;">
                  <span></span>
                  <div class="form">
                    <form
                      id="registerForm"
                      method="POST"
                      html="{:multipart=>true}"
                      data-remote="true"
                      action="/register"
                      accept-charset="UTF-8"
                    >

                      <input
                        id="zipCodeRegister"
                        class="form-control"
                        type="text"
                        placeholder="Company Name"
                        name="ZipCode"
                        />
                      <input
                        id="emailRegister"
                        class="form-control"
                        type="text"
                        placeholder="Email"
                        name="email"
                      />

                      <input
                        id="passwordRegister"
                        class="form-control"
                        type="password"
                        placeholder="Password"
                        name="password"
                      />
                      <input
                        id="password_confirmationRegister"
                        class="form-control"
                        type="password"
                        placeholder="Repeat Password"
                        name="password_confirmation"
                      />
                      <input
                        class="btn btn-default btn-register"
                        value="Create account"
                        name="commit"
                        onclick="registerAjax()"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="../static/assets/img/hero/back.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Find Azerbaijan's Top Jobs</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <!-- <div class="row">
                            <div class="col-xl-8">
                                <form action="#" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Job Tittle or keyword">
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">Location BD</option>
                                                <option value="">Location PK</option>
                                                <option value="">Location US</option>
                                                <option value="">Location UK</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <a href="#">Find job</a>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <!-- <div class="our-services section-pad-t30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Design & Creative</a></h5>
                                <span>(653)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Design & Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Sales & Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-high-tech"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Information Technology</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Real Estate</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="../static/job_listing.html">Content Writer</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href="../static/job_listing.html" class="border-btn2">Browse All Sectors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Our Services End -->
        <!-- Featured_job_start -->
        <section class="featured-job-area">
            <div class="container">
                <!-- Section Tittle -->
                <div style="padding-top: 5%" class="section-tittle text-center">

                    <h2>Featured Jobs</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="../static/job_details.html"><img src="../static/assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="../static/job_details.html"><h4>Software Developer</h4></a>
                                    <ul>
                                        <li>Startup</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Baku, Azerbaijan</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/singlejob">Job Description</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="../static/job_details.html"><img src="../static/assets/img/icon/job-list2.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/singlejob"><h4>Job Description</h4></a>
                                    <ul>
                                        <li>Marketing Agency</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Baku, Azerbaijan</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="../static/job_details.html">Job Description</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                         <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="../static/job_details.html"><img src="../static/assets/img/icon/job-list3.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="../static/job_details.html"><h4>Financial Analyst</h4></a>
                                    <ul>
                                        <li>Investment Bank</li>
                                        <li><i class="fas fa-map-marker-alt"></i>Baku, Azerbaijan</li>
                                        <li>$3500 - $4000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/singlejob">Job Description</a>
                                <span>7 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->
        <!-- How  Apply Process Start-->
        <div class="apply-process-area" data-background="assets/img/gallery/how-applybg.png">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                      <div class="section-tittle text-center">

                          <h2>How It Works</h2>
                      </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                               <h5>1. Find a job you love</h5>
                               <p>Scroll through our job postings to find a job you want to apply to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                               <h5>2. Apply for job</h5>
                               <p>Click on apply now and submit your resume to apply for the position.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                               <h5>3. Get your job</h5>
                               <p>Hear back from your employer to learn if your application was successful.</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- How  Apply Process End-->

    </main>
    <footer>
        <!-- Footer Start-->
       <div style="padding-top: 5%" class="footer-area footer-bg">
            <div class="container">
                <div class="row d-flex justify-content-between">

                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                    <p>Address : lol in Baku.</p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : info@findjobs.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                 <p>We are big ballers.</p>
                             </div>
                             <!-- Form -->
                             <div class="footer-form" >
                                 <div id="mc_embed_signup">
                                     <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                     method="get" class="subscribe_form relative mail_part">
                                         <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                         class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                         onblur="this.placeholder = ' Email Address '">
                                         <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src="assets/img/icon/form.png" alt=""></button>
                                         </div>
                                         <div class="mt-10 info"></div>
                                     </form>
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  -->
            </div>
        </div>
        <!-- Footer End-->
    </footer>

  <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/./assets/js/popper.min.js"></script>
        <script src="../static/./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/./assets/js/owl.carousel.min.js"></script>
        <script src="../static/./assets/js/slick.min.js"></script>
        <script src="../static/./assets/js/price_rangs.js"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="../static/./assets/js/wow.min.js"></script>
		<script src="../static/./assets/js/animated.headline.js"></script>
        <script src="../static/./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/./assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/./assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/./assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="../static/./assets/js/contact.js"></script>
        <script src="../static/./assets/js/jquery.form.js"></script>
        <script src="../static/./assets/js/jquery.validate.min.js"></script>
        <script src="../static/./assets/js/mail-script.js"></script>
        <script src="../static/./assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="../static/./assets/js/plugins.js"></script>
        <script src="../static/./assets/js/main.js"></script>

    </body>
</html>
